
body {
  padding: 0;
  margin: 0;
  background: #ABABAB;
  --mainColor: #0653B7;
  --secondColor: #0A72D6; 
}


.header {
  display: flex;
  position: fixed;
  z-index: 5;
  max-width: 860px;
  background: var(--mainColor);
  height: 120px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: .5rem  .5rem .5rem;
} 
.header--slide {
  background: rgba(6, 83, 183, .95);
  height: 105px;
}
.header--slide .header__logo-img {
  width: 125px; 
}
.header__layer{  
  position: absolute;
  max-width: 860px;
  height: 136px; 
  left: 0;
  right: 0;
  top: 0px;
  margin:auto;
  box-shadow:0px -14px 10px 15px rgba(105,101,105,0.95);
}
.header__wrapper {
  background: black;
  width: 100%; 
  height: 1px; 
}  
.header__container {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  width: 100%;
}

.header__info {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: .5rem 1rem;
  color: #fff; 
}
.header__info__item {
  display: flex;
  align-items: center;
  position: relative;
}
 .header__info__item:not(:nth-child(2))::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: 0;
  
}

.header__info-title {
  font-weight: bold;
  font-size: 28px;
}

.header__logo {
  display: flex;
  align-items: center;  
  flex-shrink: 0; 
}
.header__logo-img {
  width: 140px;      
  object-fit: contain; 
}

.header__toggler {
  color: white;  
  cursor: pointer;
  display: none;
  text-decoration: none; 
}
.material-icons--nav {
  font-size: 46px !important;  
}
.material-icons--nav:hover {
  color: #BDBDBD;
}





.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;  
  height: 5rem;
}
.header__nav__items {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0; 
}
.header__nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
.header__nav__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  padding: .5rem 0;
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
  font-weight: 300;
  transition: all 0.1s ease-in; 
}
.header__nav__item-link:hover {
  font-size: 1rem;
  font-weight: 500;
  background: #fff;
  text-decoration: none;
  color: #0653B7; 
}

.main {
  max-width: 876px;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 5px 11px 7px rgba(105,101,105,0.95);
-moz-box-shadow: 0px 5px 11px 7px rgba(105,101,105,0.95);
box-shadow: 0px 5px 11px 7px rgba(105,101,105,0.95);
}
.main__slider {
  height: calc(100vh - 140px);
  margin-top: 135px; 
}
.main__slider-h1 {
  background: rgba(35, 31, 31, 0.7);
  padding: 2.5rem 20rem;

}


.main__advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1rem;
  flex-wrap: wrap; 
}
.main__advantages__item {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; 
}
.main__advantages__item-img {
  height: 150px; 
}
.main__advantages__item-title {
  padding-top: 1rem;
  font-size: 34px; 
}


.main__slogan {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background: url(../assets/slogan.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 340px;  
}
.main__slogan::before {
 content:'';
 width: 100%;
 height: 100%;
 position:absolute;
 background-color: rgba(35, 31, 31, 0.6);
}

.main__slogan-text {
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}
.main__slogan-text::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 2px;
  background: #fff;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto;
}

.projects {  
  padding: 1.5rem;
  text-align: center;

  margin-top: 135px;  
}
.projects__container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; 
}
.projects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 1.5rem;
}
.projects__item-img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  transition: all .5s ease-in;
}
.projects__item-img:hover {
  filter: brightness(0.7);
}
.projects__item-title{
  margin:0;
}

.works {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  overflow: hidden;
}
.crane {
  position: absolute;
  width: 63%;
  object-fit: contain;
  right: -21%;
  top: -1%;
  z-index: 3;
}
.works .uk-card {  
  font-size: 12px; 
  padding: 1.5rem; 
}



.services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.services:nth-child(even) {
  flex-direction: row-reverse;
}
.services__item {
  width: 50%;    
} 
.services__item img{
  object-fit: cover;
  height: 350px;
}
.services .services__item ul{
  padding: 0 1rem;
}



.main__materials {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.main__materials li {
  display: flex;
  align-items: center;
}
.main__materials::after {
  content: '';
  position: absolute;
  margin: auto;
  width: 70%;
  height: 1px;
  background: var(--mainColor);
  left: 0;
  right: 0;
  bottom: 1.5rem;
}

.totop {
 display: flex;
 justify-content: flex-end;

}










@media screen and (max-width: 800px) {
  .header__nav {
    display: none; 
  }  
  .header__nav--active {    
    display: flex;
    position: absolute;
    z-index: 6;
    top: 121px;
    left: 0;
    width: 100%;
    margin: 0; 
    justify-content: center;    
    background: rgba(10, 114, 214, .85);; 
    height: 135px;
  }
  .header--slide .header__logo-img {
     width: 70px; 
  }
  .header__nav--active .header__nav__items {
    flex-direction: column; 
  }
  .header__nav__item-link {
    font-size: 1.2rem;
  }
  .header__nav__item-link:hover {
    font-size: 1rem;
  }
  .header__info__item {
    font-size: 14px;
  }
  .header__toggler {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }
  .main__slider {
    height: calc(100vh - 134px);
    margin-top: 135px;
  }
  .works .uk-card {  
    font-size: 10px;  
  }
  [class*=uk-drop-bottom] {
    margin: auto !important;
    top: 15% !important;
    left: 0 !important;
    right: 0 !important; 
  }



}

@media screen and (max-width: 615px) {
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__info {
    display: flex;
    flex-direction: column;
  }
  .header__logo-img {
    width: 80px;
  }

  .main__advantages {
    justify-content: space-between;    
  }
  .main__advantages__item {
    width: 140px;       
  }  
  .main__advantages__item-img {
    height: 100px; 
  }
  .main__advantages__item-title {
    font-size: 1rem; 
  }
  .main__slogan-text {
    font-size: 10px;
  }
  .crane {    
    width: 60%;    
    right: -20%;
    top: 20%;    
  }
  .uk-accordion-content p {
    font-size: 14px;
  }


}

@media screen and (max-width: 380px) {  
  .crane {   
    width: 60%;    
    right: -10%;
    top: 24%;  
  }

}